body {
  background: #20262e;
  padding: 20px;
  font-family: Helvetica;
  width: 500px;
}

#root {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li .done {
  color: "blue";
}

li.item {
  margin: 8px 0;
  display: flex;
  gap: 8px;
  color: #333;
}

label {
  flex-grow: 1;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 5px;
}
